In [9]:
import pandas as pd
from crawl_tps import *

In [4]:
df1 = pd.read_csv('dataset/2024-03-02 10:06.csv', low_memory=False)
df2 = pd.read_csv('dataset/2024-03-04 07-38.csv', low_memory=False)

In [7]:
df2[df2.tps.isin(df1.tps) == False]

,tps,paslon01,paslon02,paslon03,total_suara_paslon,suara_sah,suara_lebih,suara_tidak_sah,total_suara,img1,...,pemilih_dpt_pr,jumlah_pemilih_dpt,pengguna_dpt_lk,pengguna_dpt_pr,pengguna_dptb_lk,pengguna_dptb_pr,pengguna_dpk_lk,pengguna_dpk_pr,jumlah_pengguna_lk,jumlah_pengguna_pr
263628,1671131003014,63,147,9,219,219,0,15,234,https://sirekap-obj-formc.kpu.go.id/a5c4/pemil...,...,138,270,120,114,0,0,0,0,120,114

In [10]:
tps_webpage(1671131003014)

'https://pemilu2024.kpu.go.id/pilpres/hitung-suara/16/1671/167113/1671131003/1671131003014'

In [11]:
df2.tps.to_csv('input/kode-tps.txt', index=False, header=None)